@charset "UTF-8";
@font-face {
  font-family: HelveticaRegular;
  src: url(../fonts/HelveticaRegular.eot);
  src: local("☺"), url("../fonts/HelveticaRegular.woff") format("woff"), url("../fonts/HelveticaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: HelveticaRegular;
  background: #f1f2f6; }

header {
  background: #fff; }
  header .sec-lvl-1 {
    border-bottom: 1px solid #e6e6e6; }
    header .sec-lvl-1 .mail-and-reg {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 11px 0; }
      header .sec-lvl-1 .mail-and-reg .mail {
        display: block;
        color: #b4b4b4;
        padding-left: 30px;
        background-image: url(../img/mail.jpg);
        background-repeat: no-repeat;
        transition: 0.3s;
        font-size: 14px;
        line-height: 24px; }
        header .sec-lvl-1 .mail-and-reg .mail:hover {
          color: #1a9f29; }
      header .sec-lvl-1 .mail-and-reg .sign-up-in {
        display: flex;
        align-items: center; }
        header .sec-lvl-1 .mail-and-reg .sign-up-in span {
          color: #cecdcd;
          font-style: italic;
          transition: 0.3s;
          font-size: 14px;
          display: block; }
          header .sec-lvl-1 .mail-and-reg .sign-up-in span.slash {
            padding: 0 5px; }
          header .sec-lvl-1 .mail-and-reg .sign-up-in span.hover-style {
            cursor: pointer; }
            header .sec-lvl-1 .mail-and-reg .sign-up-in span.hover-style:hover {
              color: #1a9f29; }
  header .sec-lvl-2 {
    padding: 7px 0; }
    header .sec-lvl-2 .logo-and-tel {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      header .sec-lvl-2 .logo-and-tel img {
        flex-shrink: 0; }
      header .sec-lvl-2 .logo-and-tel .some-text p {
        font-size: 12px;
        color: #c2c0c0; }
      header .sec-lvl-2 .logo-and-tel .tel a {
        display: block;
        font-size: 16px;
        color: #000;
        padding-left: 32px;
        background-image: url(../img/phone.png);
        background-repeat: no-repeat;
        transition: 0.3s;
        background-position: center left; }
        header .sec-lvl-2 .logo-and-tel .tel a:hover {
          color: #1a9f29; }
  header .sec-lvl-3 {
    background: #1a9f29; }
    header .sec-lvl-3 .glex-menu {
      display: flex;
      justify-content: center; }
      header .sec-lvl-3 .glex-menu a, header .sec-lvl-3 .glex-menu span {
        cursor: pointer;
        display: block;
        position: relative;
        padding: 15px 10px;
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        width: 165px;
        letter-spacing: 1px;
        text-align: center; }
        header .sec-lvl-3 .glex-menu a:before, header .sec-lvl-3 .glex-menu span:before {
          content: "";
          display: block;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 2px;
          background: #3f4e5b;
          opacity: 0;
          transition: 0.3s; }
        header .sec-lvl-3 .glex-menu a.bordered, header .sec-lvl-3 .glex-menu span.bordered {
          border-left: 1px solid #61bd6b;
          border-right: 1px solid #61bd6b; }
        header .sec-lvl-3 .glex-menu a.active:before, header .sec-lvl-3 .glex-menu span.active:before {
          opacity: 1; }
        header .sec-lvl-3 .glex-menu a:hover:before, header .sec-lvl-3 .glex-menu span:hover:before {
          opacity: 1; }

.content .sec-lvl-4-mp {
  padding: 30px 0; }
  .content .sec-lvl-4-mp .container-for-sides {
    display: flex;
    align-items: flex-start; }
    .content .sec-lvl-4-mp .container-for-sides .sides-cont.you-take {
      width: 45%;
      padding-right: 40px; }
    .content .sec-lvl-4-mp .container-for-sides .sides-cont.you-get {
      width: 55%; }
    .content .sec-lvl-4-mp .container-for-sides .sides-cont .tabs-menu-sides {
      background: #fff;
      padding: 25px;
      display: flex;
      margin-bottom: 20px; }
      .content .sec-lvl-4-mp .container-for-sides .sides-cont .tabs-menu-sides span {
        display: block;
        padding: 3px 15px;
        background: #cecdcd;
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        border-radius: 30px;
        margin-right: 12px;
        cursor: pointer; }
        .content .sec-lvl-4-mp .container-for-sides .sides-cont .tabs-menu-sides span:first-child {
          text-transform: inherit; }
        .content .sec-lvl-4-mp .container-for-sides .sides-cont .tabs-menu-sides span.active {
          background: #1a9f29; }
    .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c {
      background: #fff; }
      .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .head {
        text-align: center;
        font-size: 14px;
        color: #fff;
        background: #3f4e5b;
        text-transform: uppercase;
        padding: 15px 0; }
      .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-tabs-c .one-payment-serv {
        display: flex;
        justify-content: space-between;
        min-height: 60px;
        align-items: center;
        border-bottom: 1px solid #cecdcd;
        font-size: 14px;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.3s;
        padding: 7px 25px;
        font-weight: bold; }
        .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-tabs-c .one-payment-serv:hover {
          background: #ebebeb; }
          .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-tabs-c .one-payment-serv:hover .lef p {
            color: #1a9f29; }
        .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-tabs-c .one-payment-serv:last-child {
          border-bottom: none; }
        .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-tabs-c .one-payment-serv.active-payment-take {
          background: #ebebeb; }
          .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-tabs-c .one-payment-serv.active-payment-take .lef p {
            color: #1a9f29; }
        .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-tabs-c .one-payment-serv .lef {
          display: flex;
          align-items: center; }
          .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-tabs-c .one-payment-serv .lef img {
            flex-shrink: 0;
            margin-right: 10px;
            max-width: 39px; }
          .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-tabs-c .one-payment-serv .lef p {
            transition: 0.3s; }
      .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-get-tabs .one-payment-serv-get {
        display: flex;
        align-items: center;
        min-height: 60px;
        padding: 7px 25px;
        border-bottom: 1px solid #cecdcd;
        font-size: 14px;
        position: relative;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.3s; }
        .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-get-tabs .one-payment-serv-get:hover {
          background: #ebebeb; }
          .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-get-tabs .one-payment-serv-get:hover .lef p {
            color: #1a9f29; }
        .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-get-tabs .one-payment-serv-get:before {
          content: "";
          left: calc(70% - 10px);
          top: 50%;
          background: #cecdcd;
          display: block;
          position: absolute;
          height: 50%;
          transform: translateY(-50%);
          width: 2px; }
        .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-get-tabs .one-payment-serv-get:last-child {
          border-bottom: none; }
        .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-get-tabs .one-payment-serv-get .left-s {
          width: 70%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-right: 80px; }
        .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-get-tabs .one-payment-serv-get .right-s {
          width: 30%;
          padding-left: 40px;
          font-size: 12px;
          font-style: italic; }
          .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-get-tabs .one-payment-serv-get .right-s p span {
            padding-left: 10px; }
        .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-get-tabs .one-payment-serv-get .lef {
          display: flex;
          align-items: center; }
          .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-get-tabs .one-payment-serv-get .lef p {
            transition: 0.3s; }
          .content .sec-lvl-4-mp .container-for-sides .sides-cont .body-tabs-c .body-get-tabs .one-payment-serv-get .lef img {
            flex-shrink: 0;
            margin-right: 10px;
            max-width: 39px; }

/*# sourceMappingURL=style.css.map */
